*{
    margin:0;
    padding:0;
}
body{
    height: 1000px;
    width:auto;
    
}
nav{
    width:auto;
    height:350px;
    background-image: url('https://d26jxt5097u8sr.cloudfront.net/s3fs-public/styles/width_1400/public/2020-08/Overhead-visitors.jpg?itok=aH_SAxSu');
    
    background-repeat: no-repeat;
}
ul{
    margin-left: 700px;
    margin-top: 0px;
}

ul li {
    list-style: none;
    display: inline-block;
    line-height: 100px;


}

ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    padding: 0 20px; 
}

ul li a:hover {
    color:rgb(121, 115, 115);   
}

h1{
    display:inline-block;
    width:18%;
    min-width: 77px;
    float:left;
    margin-top: 300px;
    color: rgb(0, 0, 0);
    opacity: .60;
    background-color:white;
}

div.info{
    width: 400px;
    color:rgb(2, 2, 2);
    background-color: rgb(255, 255, 255);
    font-size: 19px;  
    padding:50px;
}

.info-card {
    margin: 200px;
    display: block;
    margin-top:0px;
    margin-left:400px;
}



h2{
    padding:20px;
    text-transform: uppercase;
}

h4{
    padding:5px;
    text-transform: uppercase;
}

p{
    padding:7px;
}

hr{
    border:2px solid;
    opacity: .50;
}


