*{
    padding:0px;
    margin:0px;
}
nav{
    width:auto;
    height:350px;
    background-image: url('https://d26jxt5097u8sr.cloudfront.net/s3fs-public/styles/width_1400/public/2020-08/Overhead-visitors.jpg?itok=aH_SAxSu');
    
    background-repeat: no-repeat;
}
ul{
    margin-left: 700px;
}

ul li {
    list-style: none;
    display: inline-block;
    /* float: left; */
    line-height: 100px;


}

ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    padding: 0 20px; 
}

ul li a:hover {
    color:rgb(121, 115, 115);   
}
h1{
    display:inline-block;
    width:20%;
    min-width: 77px;
    float:left;
    margin-top: 300px;
    color: rgb(0, 0, 0);
    opacity: .60;
    background-color:white;
}

