 * {
    /* margin: 0px; */
    padding: 0%;
}

body{
    height:1000px;
    width: auto;
    margin:0%;
    padding: 0%;
    
    background: white;

}  

nav{
    
    height:200px;
    /* background-color: rgb(255, 0, 0); */
    /* opacity: 0.50; */
    /* background-image: url("https://www.claude-monet.com/images/paintings/water-lilies-green-harmony.jpg");
    background-repeat: no-repeat; */
    background:black;
}
ul{
    /* margin-left: 600px; */
    margin-top:0px;
    text-align: center;

}

ul li {
    list-style: none;
    display: inline-block;
    /* float: left; */
    line-height: 100px;
    
    
}

ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 253, 253);
    padding: 0 30px; 
}

ul li a:hover {
    color:rgb(121, 115, 115);   
}

h1 {
    position: relative;
    font-family:thin;
    color:rgb(255, 255, 255);
    /* margin: 200px; */
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin:0px;
    
}

hr{
    opacity: .50;
    border:1px solid white;
    
}

div{
    display: flex;
}

.image{
    width: 300px;
    height: 200px;
}


div.image-card{
    box-shadow: 0 10px 10px 5px rgb(211, 211, 211);
    padding:15px;
    margin: 25px;
    width:300px;
    height:350px;
    display:block;
    text-align: center;
    margin-left:50px;
}

a{
    text-decoration:none;
    color:black;
}

